# CI de Nível 02 - Disparo automático em períodos definidos
# nome que vai aparacer nas opções de pipe
 name: 'Execução Agendada'

# regras de disparo da execucao (triggers/gatilhos)
 # gatilho da exec agendada = schedule

 on:
  schedule: 
    - cron: '0 19 * * 6'

 jobs:
  # descricao do job
  e2e-tests:
    # maquina que o job vai executar
    runs-on: ['ubuntu-latest']
    # passo a passo das acoes do job
    steps: 
      - uses: actions/checkout@v4
      # - uses: actions/setup-node@v4
      #   with:
      #     node-version: lts/*
      - name: Instalando Yarn
        run: npm install -g yarn

      - name: Instalando dependências
        run: yarn

      - name: Instalando Playwright
        run: yarn playwright install

      - name: Testes E2E (end-to-end)
        run: yarn run e2e

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
         name: relatorio-de-testes
         path: ./playwright-report
